@import "reset";
@import "variables";
@import "./fonts/font.css";

html {
  font-family: "Poppins", sans-serif;
  font-weight: 400;

  body,
  .theme-bg {
    background: $body-color;
  }
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.938rem;
}

h1,
h2,
h3,
h4 {
  color: $title-color;
}

*:not(h1, h2, h3, h4, svg *) {
  font-size: 0.938rem;
  color: $text-color;
}

.text-sm {
  font-size: 0.813rem;
}

.text-xs {
  font-size: 0.75rem;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 968px;
  padding: 0 24px;
}

[data-theme="dark"] {
  h1,
  h2,
  h3,
  h4 {
    color: $title-color-dark;
  }

  *:not(h1, h2, h3, h4, svg *) {
    color: $text-color-dark;
  }

  body,
  .theme-bg {
    background: $body-color-dark;
  }
}

@media (min-width: $md-breakpoint) {
  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  *:not(h1, h2, h3) {
    font-size: 1rem;
  }

  .text-sm {
    font-size: 0.875rem;
  }

  .text-xs {
    font-size: 0.813rem;
  }

  .container {
    padding: 0 50px;
  }
}

.animate__slideInDown {
  --animate-duration: 0.5s;
}
