$first-color-alt: #d42b39;
$first-color: #dc3845;
$first-color-dark: #db4d59;
$title-color: #282525;
$title-color-dark: #f3f2f2;
$text-color: #5d5656;
$text-color-light: #918889;
$text-color-dark: #c2bdbd;
$body-color: #ffffff;
$container-color: #ffffff;
$body-color-dark: #251819;
$container-color-dark: #2f2223;

$desktop-breakpoint: 768px;

%flex-column {
  display: flex;
  flex-direction: column;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
