.button {
  @extend %flex-center;
  background-color: $first-color;
  height: 55px;
  border-radius: 2rem;
  border: none;
  padding: 0 32px;

  span {
    color: #ffffff;
  }
}

.button.black {
  background-color: $title-color;
}

[data-theme="dark"] .button.black {
  background-color: $first-color;
}
