.startGiving {
  @extend %flex-column;
  @extend %flex-center;
  text-align: center;
  padding: 48px 0 32px;

  h2 {
    text-transform: capitalize;
    font-weight: 600;
    line-height: 140%;
    width: 175px;
    margin-bottom: 48px;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 682px;
  }

  .card {
    width: 132px;

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    img {
      width: 100px;
      height: 100px;
      object-fit: contain;
      margin-bottom: 8px;
    }

    h3 {
      line-height: 140%;
      font-weight: 600;
    }

    p {
      line-height: 140%;
    }
  }

  @media (min-width: $md-breakpoint) {
    padding: 72px 0 32px;

    h2 {
      width: 210px;
      margin-bottom: 56px;
    }

    .card {
      width: 142px;
      margin-bottom: 0;
    }
  }
}
